<!doctype html>
<html>
<head>
    <title>Blockchain</title>
</head>

<body>
  <div>
  <form action="{{url_for('creation')}}" method="POST">
    <label for="Last Name">Last Name:</label>
    <input type="text" placeholder="Give the last name" id="Last Name"  name="Last Name"/>
<br><br>
    <label for="First Name">First Name:</label>
    <input type="text" placeholder="Give the first name" id="First Name" name="First Name"/>
<br><br>
    <label for="Univesity">University :</label>
    <input type="text" placeholder="Give the University"  name="University"/>
<br><br>
    <label for="Degree">Degree:</label>
    <input type="text" placeholder="Give the Degree"  name="Degree"/>
<br><br>
    <label for="Date">Date:</label>
    <input type="text" placeholder="Give the Date"  name="Date"/>
   <br><br>
   <button  style="color:green" >create block</button>

    
    
  </form>
</div>
 

   
    
</div>
           
</body>
</html>