<!doctype html>
<html>
<head>
    <title>Blockchain</title>
</head>

<body>
  <div>
  <form action="{{url_for('index')}}" method="POST">
    <label for="research">Research degree:</label>
    <input type="text" placeholder="Give the id" id="research" name="id"/>
    <button  style="color:green" value="GO ! ">
    
    
  </form>
</div>
 
<div>
  <form action="{{ url_for ('check') }}">
    {% for key,value in blockdisplay %}
    <p>{{key}} : {{value}}</p>

    {% endfor %}
       
    <button  style="color:green" value="show ">
    </form>
   
    
</div>
           
</body>
</html>